<img class="modal__poster" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="poster of the {{original_title}} movie" width="240" height="356" />
<p class="modal__title">{{original_title}}</p>
<div class="modal__stat">
    <ul class="modal__stat-list">
        <li class="modal__stat-item">Vote / Votes</li>
        <li class="modal__stat-item">Popularity</li>
        <li class="modal__stat-item">Original Title</li>
        <li class="modal__stat-item">Genre</li>
    </ul>
    <ul class="modal__stat-data">
        <li class="modal__stat-item"><span class="modal__vote">{{vote_average}}</span> /&ensp;{{vote_count}}</li>
        <li class="modal__stat-item">{{popularity}}</li>
        <li class="modal__stat-item">{{original_title}}</li>
        <li class="modal__stat-item">
            {{#each genres}}
            <span class="modal__stat-genre">{{this.name}}</span>
            {{/each}}
        </li>
    </ul>
</div>
<p class="modal__about">About</p>
<p class="modal__desc">{{overview}}</p>